img{
    height:350px;
}
.trick1st {font-size: 30px;}
.trick1st {background-color: #4CAF50;} /* Green */
.trick2nd {font-size: 30px;}
.trick2nd {background-color: #008CBA;} /* blue */
.trick3rd {font-size: 30px;}
.trick3rd {background-color: #f44336;} /* Red */ 